@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
   margin: 0; 
   padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #fff;
    
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.wrapeer {
    background: linear-gradient(90deg,rgba(1, 38, 59, 1) 0%, rgba(55, 219, 123, 1) 50%, rgba(179, 162, 12, 1) 100%);
    width: 100%;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

header {
    padding: 50px 0;
}

header .logo{
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 800;
}

header nav {
    float: right;
    width: 50%;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

header nav li {
    display: inline-block;
}

header nav ul li a {
    color: #fff
}

header nav ul li.active::after {
    content: '';
    display: block;
    width: 40px;
    height: 5px;
    background: #FA9021;
    border-radius: 10px;
}

header nav ul li:not(.active):not(.btn) a:hover {
    border-bottom: 5px solid #FA9021
}

header nav ul li.btn a {
    background: #FA9021;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 500ms ease;
}

header nav ul li.btn a:hover {
    background: #40b149;
}

.hero {
    padding: 100px;
}